
#shell,
.shell-width,
.side-width {
  width: 100%;
  max-width: 100%;
  min-width: 0;
}

.side-width {
  position: relative;
}

#shell-top,
#shell-bottom {
  position: static;
  top: auto;
  bottom: auto;
  left: auto;
}

/* header */

header {
  position: fixed;
  width: 100%;
  max-width: 100%;
  margin: 0;
  top: 0;
  z-index: 2;
  background: #420314;
  padding: 0;
}

header #logo {
  position: fixed;
  left: 0;
  top: 0;
  height: 80px;
  border-top: 0 none;
  border-left: 0 none;
}
header #logo img {
  height: 80px;
  width: auto;
}

header h1 {
  font-size: 2.2rem;
  line-height: 75px;
  padding: 1rem 0;
}

nav {
  position: fixed;
  top: 0px;
  right: 20px;
  z-index: 3;
  padding: 0;
}

nav ul {
  display: none;
  position: absolute;
  right: 0;
  top: 80px;
  border-radius: 6px;
  padding: 0.3rem;
}

nav ul li a {
  border-radius: 4px;
}

nav ul li a.active::after,
nav ul li a:hover::after {
  border: 0 none;
}

nav #nav-opener {
  font-size: 2rem;
  display: inline-block;
  text-indent: -999rem;
  text-decoration: none;
}

nav #nav-opener:after {
  display: block;
  content: '𝄘';
  font-weight: bold;
  text-indent: 0;
  border: 2px solid pink;
  border-radius: 6px;
  color: pink;
  padding: 0.2rem 0.5rem;
}


/* footer */

footer {
  padding: 1.5rem 40px;
  font-size: 1.3rem;
}

footer h1 {
  font-size: 1.7rem;
}

/* content */

#main {
  width: auto;
  float: none;
}
#content {
  padding: 100px 40px 40px;
}
