* {
  background: none !important;
  color: #333 !important;
}

header, nav, footer, img {
  display: none;
}

h1,h2,h3,h4,h5,h6 {
  color: #7c334f !important;
  margin: 10px 0 0 !important;
}

a {
  color: #417090 !important;
}
